<div class="gf-form-group">
	<div class="gf-form">
		<span class="gf-form-label width-10">Event name</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.annotation.event' placeholder="alerts"></input>
	</div>
	<div class="gf-form">
		<span class="gf-form-label width-10">Event tags</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.annotation.tags' placeholder=""></input>
	</div>
</div>
<gf-form-switch class="gf-form" label="Show Global Annotations?" checked="ctrl.annotation.isGlobal" switch-class="max-width-6" label-class="width-13"></gf-form-switch>
</div>
